* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #101010;
    color: #fff;
    line-height: 1.6;
}

a {
    color: #6a7777;
}

a:visited {
    color: #303838;
}

@keyframes logo {
    0% {}
    50% {box-shadow: 0px 0px 3px 3px #f74641}
    100% {}
}


/* menu */
.logo {
    width: 150px;
    animation-name: logo;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #F74843;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1001;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.menu-toggle:hover {
    background: #303838;
    transform: rotate(180deg);
}

.uparr {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #F74843;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1001;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.uparr:hover {
    background: #303838;
    transform: translateY(-10px);
}

.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background: #F74843;
    transition: all 0.3s ease;
    z-index: 1000;
    box-shadow: 3px 0 10px rgba(0,0,0,0.2);
}

.sidebar.active {
    left: 0;
}

.sidebar-header {
    padding: 20px;
    background: #303838;
    color: white;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    border-bottom: 1px solid #181818;
}

.sidebar ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.sidebar ul li a:hover, 
.sidebar ul li a.active {
    background: #303838;
    padding-left: 25px;
}


.topnav {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #F74843;
  box-shadow: 3px 0 10px rgba(0,0,0,0.2);
  z-index: 1000;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.3s ease;
}

.topnav a:hover,
.topnav a.active {
  padding-left: 25px;
  background-color: #303838;
}





/* main */
.main-content {
    margin-left: 0;
    transition: all 0.3s ease;
}

.main-content.shifted {
    margin-left: 250px;
}

/* naglowek */
header {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/valve.svg') no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 150px 20px;
}

header h1 {
    color: #F74843;
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5rem;
}

h2 {
    color: #F74843;
}
/* wprowadzenie obraz na lewo */
.intro {
    display: flex;
    padding: 20px 20px;
    max-width: 85%;
    margin: 20px auto;
}

.intro-image {
    width: 50%;
    border-radius: 10px;
    margin: 0 auto 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.intro-text {
    width: 50%;
    padding: 0 20px;
}

.intro-text h2 {
    margin-bottom: 20px;
}

.intro-text h3 {
    color: #404848;
    margin: 20px 0 10px;
}


/* karty ciekawostki */
.ciekawostki {
    padding: 40px 20px;
    background: #181818;
    text-align: center;
}

.ciekawostki h2 {
    margin-bottom: 30px;
}

.ck-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 85%;
    margin: 0 auto;
}

.ck-card {
    background: #303838;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 15%;
    max-width: 30%;
    transition: transform 0.3s ease;
}

.ck-card:hover {
    transform: translateY(-5px);
}

.ck-card h3 {
    color: #cecece;
    margin-bottom: 10px;
}





/* stopka */
footer {
    width: 100%;
    background: #F74843;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}



/* galeria */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 90%;
    margin: 20px auto;
}

.gallery-item {
    max-width: 20%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.03);
}

.gallery-item img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.gallery-item .caption {
    color: white;
    padding: 15px;
    background: #181818;
    text-align: center;
}



/* galeria rozwinieta */
.gallery-detail-container {
    max-width: 70%;
    margin: 40px auto;
    padding: 0 20px;
}

.main-image {
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.main-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.image-info {
    background: #181818;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.image-info h2 {
    margin-bottom: 15px;
}

.image-info h3 {
    color: #fff;
    margin: 25px 0 15px;
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.thumbnail {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    border: 3px solid transparent;
    transition: all 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.thumbnail.active {
    border-color: #fff;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* kontakt form */
.contact-container {
    max-width: 80%;
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto;
    background-color: #181818;
}

.contact-info, .survey-section {
    background-color: #303838;
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

form h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.radio-group, .checkbox-group {
    margin-top: 5px;
}

.radio-group input[type="radio"], .checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #ff4500;
    color: white;
}

button[type="submit"]:hover {
    background-color: #e03a00;
}

button[type="reset"] {
    background-color: #777;
    color: white;
}

button[type="reset"]:hover {
    background-color: #555;
}




/* media */
.media-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.video-container, .music-container {
    margin-bottom: 40px;
    background: #181818;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

iframe {
    width: 100%;
    border-radius: 10px;
}

.music-container audio {
    width: 100%;
    margin-top: 10px;
}


/* tabelka i wiecej */
.table-container {
    max-width: 70%;
    margin: 40px auto;
    padding: 0 20px;
}

.table-container h3, hr {
    color: #404848;
    margin-top: 20px;
}

.table-container li {
    margin-top: 10px;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    background: #181818;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

.info-table th, .info-table td {
    padding: 15px;
    text-align: left;
}

.info-table th {
    background: #181818;
    color: #F74843;
}

.info-table tr:nth-child(even) {
    background: #303838;
}

.info-table tr:hover {
    background: #404848;
}

.note {
    margin-top: 20px;
    padding: 15px;
    border-left: 5px solid #ff4500;
    border-radius: 10px;
    background-color: #181818;
    font-style: italic;
}


.historia {
    max-width: 70%;
    margin: 30px auto;
    padding: 20px 35px;
    background-color: #181818;
    border-radius: 10px;
}

.historia hr, .historia h3 {
    margin-top: 20px;
}

/*responsywność*/
@media screen and (min-width: 1200px) {
    .menu-toggle {
        display: none;
    }
    .sidebar {
        left: 0px;
    }
    .main-content {
        margin-left: 250px;
    }
    .topnav {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    .menu-toggle {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .intro {
        display: block;
        max-width: 100%;
    }
    .intro-image {
        width: 100%;
    }
    .intro-text {
        width: 100%;
    }
    .ck-grid {
        max-width: 100%;
    }
    .ck-card {
        min-width: 40%;
        max-width: none;
    }
    header {
        padding: 75px 20px;
        padding-top: 89px;
    }
    .gallery-container {
        width: 100%;
        gap: 10px;
    }
    .gallery-item {
        max-width: 40%;
    }
    .gallery-detail-container {
        max-width: 100%;
    }
    .table-container {
        max-width: 90%;
    }
    .contact-container {
        max-width: 90%;
    }
    .historia {
        max-width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .topnav {
        display: none;
    }
    .intro {
        display: block;
        max-width: 100%;
    }
    .intro-image {
        width: 100%;
    }
    .intro-text {
        width: 100%;
    }
    .sidebar {
        left: -100%;
        width: 100%;
    }
    .ck-grid {
        max-width: 100%;
        gap: 10px;
    }
    .ck-card {
        min-width: 40%;
        max-width: none;
    }
    header {
        padding: 50px 5px;
    }
    .gallery-container {
        width: 100%;
        gap: 10px;
    }
    .gallery-item {
        max-width: 100%;
    }
    .gallery-item img {
        height: auto;
    }
    .gallery-detail-container {
        max-width: 100%;
    }
    .table-container {
        max-width: 100%;
    }
    .contact-container {
        max-width: 95%;
    }
    .historia {
        max-width: 95%;
    }
    #optional {
        display: none;
    }
}